.card-container > :first-child { margin-left : 0px; }

.card {
  float: left;
  margin-left: -9%;
  /*border: solid 1px black;*/
  width: 191px;
  /*border-radius: 5px;*/
  height: 255px;
  /*margin-right: 20px;*/
  background-color: transparent;
}

.covered {
  background-image: url("../img/fablecards/cardback.png");
}

.hand {
  overflow: auto;
}
